@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --dark: #172735;
  --white: #ffffff;
  --dark-mint: #4bcc8c;
  --blue-purple: #5f35d4;
  --dark-sky-blue: #26b6eb;
  --cool-grey: #979da4;
  --pale-grey: #f3f4f5;
  --silver: #e7e9ea;
  --dark: #172735;
}

body {
  font-family: "Lato", sans-serif;
  font-weight:900;
}

h1 {
  text-align:center;
}

.hero h1 {
  text-align: left;
}

.button {
padding: 12px 20px;
 font-size: 16px;
 font-weight: bold;
 color: white;
 background-color: --dark-mint;
}

.button-blue {
  background-color: --dark-sky-blue;
}

/* TEXT STYLES */

.Page-Title {
  font-size: 52px;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: 0.6px;
  color: var(--white);
  height: 128px;
  max-width: 624px;
}

.Page-Title span {
  color: var(--dark-mint);
}

.Tagline {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--white);
  margin-bottom: 83px; /* responsivenál nem így kéne megadni */
}

.Text {
  font-size: 14px;
  line-height: 2.29;
  color: var(--dark);
}

.CTA-Text {
  padding: 10px;
  border-width: 2px;
  width: 148px;
  height: 19px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: var(--dark-mint);
  border: solid 1px var(--dark-mint);
  margin-bottom: 137px;
}


.Section-Title-Black {
  font-family: Lato;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--dark);
}
.Section-Title {
  font-family: Lato;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--dark);
  margin: 60px;
}
.Section-Title-White {
  font-family: Lato;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white);
}
.Card-Title {
  font-family: Lato;
  font-size: 38px;
  font-weight: 900;
  line-height: 1.16;
  letter-spacing: 0.4px;
  color: var(--white);
}
.Section-Subtitle {
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.13;
  color: var(--dark);
}
.Quote {
  font-family: CrimsonText;
  font-size: 28px;
  line-height: 1.61;
  text-align: center;
  color: var(--dark);
}
.Card-Title-Small {
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.33;
  color: var(--white);
}
.Carousel-Title {
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.27;
  text-align: center;
  color: var(--dark);
}

.Text-White {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.29;
  color: var(--white);
}
.Footer-Subtitle {
  font-family: Lato;
  font-size: 14px;
  line-height: 2.57;
  color: var(--cool-grey);
}
.Text {
  font-size: 14px;
  line-height: 2.29;
  color: var(--dark);
}
.dark {
  background-color: var(--dark);
}

.wrap {
  max-width: 960px; /* responsive */
  margin: 0 auto;
}


/* Nav items */

.hero {
  padding: 56px 0 80px;
}

.menu {
  display: flex;
  margin: 0 -10px; /* a -10 azért, hogy teljesen a szélén legyenek */
}

.menu-item {
  margin: 0 10px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 5px 15px;
}
.logo {
  margin-right: auto;
  margin-left: 0;
}
.contact-button {
  background-color: var(--dark-mint);
  margin-left: 60px;
}


/* CASE STUDY CARDS */

.card{
  background-color: green;
  padding: 50px;
  min-height: 310px; /* hogy összenyomva se romoljon el a szöveg */
  margin-bottom: 40px;
  position: relative;
}

.card h2 {
  max-width: 426px;
}

.orange {
  background-color: #f07138;
}

.green {
  background-color: #6eb153;
}

.pink {
  background-color: #e3395b;
}

.black {
  background-color: #292b29;
}

.case-study {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 2px solid;
  color: white;
  padding-bottom: 6px;
}

/* QUOTES */

.quotes {
  height: 348px;
  background-color: var(--silver)
}

/* MEET TEAM CARDS */
 .grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 288px 288px;
   grid-column-gap: 48px;
   grid-row-gap: 24px;
 }

.grid-card {
   background-color: var(--dark-mint);
   padding: 25px;
   color: white;
 }
 .grid-card:nth-child(2n) {
   background-color: var(--blue-purple);
 }


/* BOOK */

.book-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 48px;
  grid-row-gap: 24px;
}

.book-grid img {

}

.book-grid a {
  align-self: 
}
