@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: "Lato";
  font-weight:900;
  background-color: lightgrey;
}

.hero {
  width: 1440px;
  height: 825px;
  margin-left: 240px; /* responsivenál nem így kéne megadni */
}

.menu-items {
  display:flex;
}

.menu-items div{
  width: 80px;
  height: 32px;
}

:root {
  --dark: #172735;
  --white: #ffffff;
  --dark-mint: #4bcc8c;
  --blue-purple: #5f35d4;
  --dark-sky-blue: #26b6eb;
  --cool-grey: #979da4;
  --pale-grey: #f3f4f5;
  --silver: #e7e9ea;
}

.Page-Title {
  font-size: 52px;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: 0.6px;
  color: var(--white);
  height: 128px;
  width: 624px;
  margin-top: 257px;  /* responsivenál nem így kéne megadni */
  margin-bottom: 35px; /* responsivenál nem így kéne megadni */
}

.Page-Title span {
  color: var(--dark-mint);
}

.Tagline {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: normal;
  color: var(--white);
  margin-bottom: 83px; /* responsivenál nem így kéne megadni */
}

.Text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 2.29;
  letter-spacing: normal;
  color: var(--dark);
}

.CTA-Text {
  padding: 10px;
  border-width: 2px;
  width: 148px;
  height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  color: var(--dark-mint);
  border: solid 1px var(--dark-mint);
  margin-bottom: 137px;
}
